<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    table, td, tr{
        border-collapse: collapse;
    }
    </style>
</head>
<body>
    <h1 align="center">Home Page</h1>
        <table border="1" class="table">
            <tr>
                <td>Username : </td>
                <td><input type="text" name="username" class="form-control" placeholder="Username"/></td>
            </tr>
            <tr>
                <td>Password : </td>
                <td><input type="password" name="password" class="form-control"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><Button class="btn btn-danger">Login</Button></td>
            </tr>
        </table>

</body>
</html>